@import "./styles-reset.css";

html,
body {
  /* height: 100%;
  width: 100%; */
  background: #eee;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin {
  padding: 0 150px;
}

.space {
  flex: 1;
}
