<span class="container">
  <div class="card">
    <div class="graphic-container">
      <div class="graphic">
        <img src="../../assets/imgs/50339714.png" alt="clarance image" />
      </div>
    </div>
    <div class="actions">
      <a
        href="https://github.com/claranceatgalvanize"
        target="_blank"
        rel="noopener noreferrer"
        >GITHUB</a
      >
      <a
        href="https://www.linkedin.com/in/clarance-farley-04ba2613a/"
        target="_blank"
        rel="noopener noreferrer"
        >LINKEDIN</a
      >
    </div>
  </div>
</span>
