:host :focus {
  outline: none;
}

:host input,
:host textarea,
:host select,
:host p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #4c4c4c;
}

:host p {
  font-size: 12px;
  width: 230px;
  margin: 0 0 25px 18px;
}
:host h1 {
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

:host .testbox {
  margin: 150px auto;
  width: 343px;
  height: 464px;
  -webkit-border-radius: 8px/7px;
  -moz-border-radius: 8px/7px;
  border-radius: 8px/7px;
  background-color: #ebebeb;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
  border: solid 1px #cbc9c9;
}

:host form {
  margin: 30px;
}

:host hr {
  color: #a9a9a9;
  opacity: 0.3;
}

:host input[type="text"],
:host input[type="password"] {
  width: 200px;
  height: 36.5px;
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
  background-color: #fff;
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px;
  padding-left: 10px;
}

:host input[type="password"] {
  margin-bottom: 25px;
}

:host .icon {
  display: inline-block;
  width: 30px;
  background-color: #16171a;
  padding: 11px 0px 11px 15px;
  margin-left: 15px;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
  color: #fff;
  border: solid 0px #cbc9c9;
}

:host button {
  font-size: 14px;
  font-weight: 400;
  color: white;
  padding: 12.5px 20px;
  margin: 0px 0px 0px 15px;
  text-decoration: none;
  width: 50%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #16171a;
}

a.button:hover {
  background-color: #16171a;
}
